* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: #eee;
  background: radial-gradient(circle, #939292 0%, black 100%);
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 850px;
  -webkit-box-shadow: 5px 42px 48px -34px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 42px 48px -34px rgba(0, 0, 0, 0.75);
}

.container .row .user_info {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #bdbdbd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container .row .user_info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #000;
  -o-object-fit: cover;
  object-fit: cover;
}

.container .row .repo {
  width: 70%;
  background-color: #fff;
}

.user_name {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.user_name h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.user_name h1 {
  font-size: 20px;
  margin: 5px 0;
}

.follow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.follow .item p {
  font-size: 14px;
}

.follow .item span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

.repo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: radial-gradient(circle, #939292 0%, black 100%);
  color: #fff;
}

.repo h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

.repo .repo_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.repo .repo_details .item_ {
  width: 47%;
  border: 1px solid #424141;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.repo .repo_details .item_ .repo_name {
  font-size: 12px;
  margin-bottom: 10px;
}

.repo .repo_details .item_ .repo_details_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.repo .repo_details .item_ .repo_details_ .info_ {
  font-size: 12px;
}

.repo .repo_details .item_ .repo_details_ .info_.fork .fa {
  margin-right: 5px;
}

.repo .repo_details .item_ .repo_details_ .info_.size .fa {
  margin-right: 5px;
}

.input_wrapper {
  position: relative;
  width: 500px;
  height: 50px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.input_wrapper .input_user {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: none;
  padding: 5px 160px 5px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input_wrapper .input_user::-webkit-input-placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user:-ms-input-placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user::-ms-input-placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user::placeholder {
  color: #bdbdbd;
}

.input_wrapper .input_user:focus {
  outline: none;
}

.input_wrapper .btn_submit {
  width: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.download-button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.download{
        background-color: #000;
        border: none;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        button:hover{
        background-color: rgb(14,118,217);
}
.menu-item,
.menu-open-button {
  background: #EEEEEE;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  color: #FFFFFF;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menu {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  font-size: 13px;
}

.share-icon {
  color: #596778;
  /*background color*/
}

.menu-item:hover {
  background: #EEEEEE;
  color: #3290B1;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-90.86291px, 52.62064px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

.facebook_share_btn {
  background-color: #3b5998;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.facebook_share_btn:hover {
  color: #3b5998;
  text-shadow: none;
}

.twitter_share_btn {
  background-color: #00aced;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.twitter_share_btn:hover {
  color: #00aced;
  text-shadow: none;
}

.google_plus_share_btn {
  background-color: #dd4b39;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.google_plus_share_btn:hover {
  color: #dd4b39;
  text-shadow: none;
}

.youtube_share_btn {
  background-color: #bb0000;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.youtube_share_btn:hover {
  color: #bb0000;
  text-shadow: none;
}

.pinterest_share_btn {
  background-color: #cb2027;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.pinterest_share_btn:hover {
  color: #cb2027;
  text-shadow: none;
}

.tumblr_share_btn {
  background-color: #32506d;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.tumblr_share_btn:hover {
  color: #32506d;
  text-shadow: none;
}
